= simple_form_for @building, url: admin_buildings_path do |f|
  = f.input :position
  = f.button :submit, :class => "btn btn-primary"
  = link_to t('.cancel'), admin_buildings_path, :class => "btn btn-primary"
