%table.table
  %thead
    %tr
      %th= Admin.human_attribute_name (:email)
  %tbody
    %tr
      %td=@admin.email
= link_to t('.back'), admin_admins_path, :class => "btn btn-info"
= link_to t('.edit'), edit_admin_admin_path(@admin.id), :class => "btn btn-info"