= simple_form_for @sickness, url: admin_sicknesses_path do |f|
  = f.input :name
  = f.button :submit, :class => "btn btn-outline-secondary"
  = link_to t('.cancel'), admin_sicknesses_path, :class => "btn btn-outline-secondary"
